.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
img {
    margin: 9px;
}

/* Icons */

.user {
    font-size: 25px;
}
.starsIcon {
    margin: 5px;
    float: left;
    font-size: 25px;
}
.iconSize {
    font-size: medium;
}
.iconsMvItem {
    padding: 3%;
}